{% load static %}
<html>
<header style = "float:right;">
    <i>Thomas Shaer</i><br>
    <i>shaerthomas@gmail.com</i><br>
	<i>+44 7808 215667</i> <br>
	<i> <a href = "https://www.linkedin.com/in/thomas-shaer-9a05b5179/">Linkedin</i>

  </header>
    <head>
        <title>Thomas Shaer's Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            
            <h1 style = "text-align:center;"><a href="/">Thomas Shaer's Blog</a></h1>
			{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>New Blog</a>
			{% endif %}
		</div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>